<h1>{{title}}</h1>
<p class = "title">Welcome to BugMyRoomateForMe!{{title}}
	{{#if user}}
		{{user.username}}
	{{/if}}
</p>
<div class="indexParent">
	<img src="/images/logo.svg" style="width:63%; height:75%" margin-top:"-50%">
	<div class = "buttonParent">
		<a href ="login" class="btn btn-primary btn-lg" id="loginBtn">Login</a>
		<a href ="signup" class="btn btn-primary btn-lg" id="SignUpBtn">Sign up</a>
	</div>
</div>
