
<div class="access-wrapper">
	<h1 class="center-text">BugMyRoomatesFor.Me</h1>
	<div class="access-container">
		<img src="/images/logo.svg">
		<div class="access-buttons">
			<a href="login" class="btn btn-primary btn-lg">Login</a>
			<a href="signup" class="btn btn-primary btn-lg">Sign up</a>
		</div>
	</div>
</div>
