<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
	{{{body}}}
	<script>
		src = "/public/javascripts/bundle.js"
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{{!-- render flash messages --}}
	{{#if messages.info}}
		<pre>{{messages.info}}</pre>
	{{/if}}
</body>

</html>
