<form action="/login" method="post">
    <div>
        <label for="username">Username:</label>
        <input id="username" class="form-control" type="text" name="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" class="form-control" type="password" name="password"/>
    </div>
    <div>
        <input class="btn btn-regular" type="submit" value="Log In"/>
    </div>
</form>
