<form action="/newbill" method="post">
    <div class="form-group">
        <label for="name">Bill name:</label>
        <input id="name" class="form-control" type="text" name="name"/>
    </div>
    <div class="form-group">
        <label for="paymentscheme">Payment scheme:</label>
        <input id="paymentscheme" class="form-control" type="text" name="paymentscheme"/>
    </div>
    <div class="form-group">
        <label for="duedate">Due date:</label>
        <input id="duedate" class="form-control" type="date" name="duedate"/>
    </div>
    <div class="form-group">
        <label for="accountholder">Account holder:</label>
        <input id="accountholder" class="form-control" type="text" name="accountholder"/>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </div>
</form>
