body {
  background-color: #BFC6CB;
  padding-top: 50px;
  font-family: "Open Sans"; }

.access-wrapper {
  display: block; }

.access-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: #E7F9FF;
  border-radius: 0;
  width: 100vw;
  height: calc(100vw - 50px); }
  .access-container img {
    max-width: 75%;
    width: 250px; }
  .access-container .access-buttons {
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }

@media only screen and (min-width: 768px) {
  .access-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .access-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #E7F9FF;
    border-radius: 10px;
    width: 400px; }
    .access-container img {
      max-width: 75%;
      width: 250px; }
    .access-container .access-buttons {
      align-items: center;
      justify-content: space-between;
      flex-direction: row; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

.form-group {
  margin-left: 40px;
  width: 50%;
  text-align: left; }
