body {
  background-color: #BFC6CB;
  padding-top: 60px;
  font-family: "Open Sans"; }

.access-wrapper {
  display: block; }

.access-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 10px;
  border-radius: 0; }
  .access-container img {
    max-width: 75%; }
  .access-container .access-buttons {
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: row;
        flex-direction: row; }

.post-area p {
  padding: 20px;
  margin: 10px 0;
  background-color: #F8F8F8;
  border-radius: 5px; }

.center-text {
  text-align: center; }

.btn-lg {
  font-size: 2em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

@media only screen and (min-width: 768px) {
  .access-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column; }
  .access-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 20px;
    background-color: #F8F8F8;
    border-radius: 10px;
    width: 400px; }
    .access-container form {
      width: 80%; }
    .access-container img {
      max-width: 75%;
      width: 250px; }
    .access-container .access-buttons {
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-direction: row;
          flex-direction: row; }
  .form-group {
    margin: 0 auto;
    width: 100%;
    text-align: left; } }

@media only screen and (max-width: 360px) {
  .navbar-brand {
    display: none; } }
