<p id="welcome">Welcome, {{user.username}}</p>

<ul class="nav nav-pills nav-stacked">
{{#each user.pads}}
	<li>
		<a href="/app/user/{{this._id}}">
			{{this.name}}
		</a>
	</li>
{{/each}}
{{#unless user.pads}}
	<li>
		<a href="#">
			No pads
		</a>
	</li>
{{/unless}}
</ul>


<!--<pre>{{user}}</pre>-->
