<h2 id="welcome1">BugMyRoomatesFor.Me <img style="display: inline-block; width: 50px;" src="/images/logo.svg"><p id="welcome">Welcome, {{user.username}}</p></h2>
<nav aria-label="Page navigation">
  <ul class="pagination">
    {{#each user.pads}}
    	<li>
    		<a href="/app/user/{{this._id}}">
    			{{this.name}}
    		</a>
    	</li>
    {{/each}}
    <li>
    </li>
    <li><a href="/app/pad/new">Create a pad</a></li>
    </li>
  </ul>
</nav>





<!--<pre>{{user}}</pre>-->
