$light: #F8F8F8;
$grey: #BFC6CB;
$dark: #001219;
$green: #31A543;
$red: #D84B36;
$navy: #022F40;

body {
	background-color: $grey;
	padding-top: 60px; //make room for navbar
	font-family: "Open Sans";
}

.access-wrapper {
	display: block;
}

.access-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	border-radius: 0;

	img {
		max-width: 75%;
	}

	.access-buttons {
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}
}

.center-text {
	text-align: center;
}

.btn-lg {
	font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}
@media only screen and (min-width: 768px) {
	//desktop styles
	.access-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.access-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 20px;
		background-color: $light;
		border-radius: 10px;
		width: 400px;

		img {
			max-width: 75%;
			width: 250px;
		}

		.access-buttons {
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
		}
	}

	.form-group {
		margin-left: 40px;
		width: 50%;
		text-align: left;
	}
}
@media only screen and (max-width: 360px) {
	.navbar-brand {
		display: none;
	}
}
// .parent {
// 	box-shadow: 0 2px 5px #888888;
// 	margin-left: 25%;
// 	margin-right: 25%;
// 	padding-top: 25px;
// 	height: 400px;
// 	background-color: #EEE;
// 	border-radius: 10px;
// 	padding-left: 12.5%;
// 	padding-top: 4%;
// }
// //
// // #home {
// // 	margin-left: 40px;
// // }
//
// .indexParent {
// 	box-shadow: 0 2px 5px #888888;
// 	margin-left: 25%;
// 	margin-right: 25%;
// 	width: 50%;
// 	height: 500px;
// 	//background-color: #EEE;
// 	border-radius: 10px;
// 	padding-left: 12.5%;
// 	font-size: 32px;
// 	opacity: 0;
// }
//
// .title {
// 	text-align: center;
// 	font-family: "Open Sans";
// 	font-size: 32px;
// 	font-weight: bold;
// }
//
// #top {
// 	width: 100%;
// 	height: 5%;
// }
//
// #welcome {
// 	display: inline-block;
// 	float: right;
// 	margin-right: 10%;
// 	margin-top: 2%;
// 	font-size: 100%;
// }
//
// #welcome1 {
// 	margin-top: -.3%;
// 	font-size: 100%;
// }
