$light: #F8F8F8;
$grey: #BFC6CB;
$dark: #001219;
$green: #31A543;
$red: #D84B36;
$navy: #022F40;

body {
	background-color: $grey;
	padding-top: 60px; //make room for navbar
	font-family: "Open Sans";
}

.access-wrapper {
	display: block;
}

.access-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	border-radius: 0;

	img {
		max-width: 75%;
	}

	.access-buttons {
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}
}

.post-area {
	p {
		padding: 20px;
		margin: 10px 0;
		background-color: $light;
		border-radius: 5px;
	}
}

.center-text {
	text-align: center;
}

.btn-lg {
	font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}
@media only screen and (min-width: 768px) {
	//desktop styles
	.access-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.access-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 20px;
		background-color: $light;
		border-radius: 10px;
		width: 400px;

		form {
			width: 80%;
		}

		img {
			max-width: 75%;
			width: 250px;
		}

		.access-buttons {
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
		}
	}

	.form-group {
		margin: 0 auto;
		width: 100%;
		text-align: left;
	}
}
@media only screen and (max-width: 360px) {
	.navbar-brand {
		display: none;
	}
}
